@{
    ViewData["Title"] = "Home Page";
    Layout = "LoggedNavbar";
}
@model List<Currency>
<head>
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CurrencyManager.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>

    <body>
 <div
  class="bg-image"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.webp');
    height: 100vh;">

   <div class= "table">
   <table class="table table-dark table-sm" >
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Code</th>
            </tr>
        </thead>
        @{
            int rowNumber = 0;
            foreach (var currency in Model)
            {
                    <tr>
                        <th scope="row">@rowNumber</th>
                        <td>@currency.Name</td>
                        <td>@currency.Code</td>
                    </tr>
                rowNumber++;
            }
        }
    </table>
    </div>
    </div>
     
</body>

  @* style="display:flex;flex-direction:column;align-items:center;justify-content: center;height: 60vh;/* width: 100vh; */padding: 100;padding-right: 400;padding-left: 400;"*@
