@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css" >
    <link rel="stylesheet" href="~/css/MyDiv.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Currency Manager</a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Currency" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Converter" asp-action="Converter">Converter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Profile" asp-action="Profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Logout" asp-action="Logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        </header>

    <div class="">
        <main role="">
            @RenderBody()
        </main>
    </div>
</body>
