@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Fixed top</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link"   <a asp-controller ="Currency" asp-action="Index"><p>Home</p></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" <a asp-controller ="Login" asp-action="Login"><p>Logowanie</p></a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  <a asp-controller ="Login" asp-action="Register"><p>Rejestracja</p></a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  <a asp-controller ="Converter" asp-action="Converter"><p>Konwerter Walut</p></a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  <a asp-controller ="Profile" asp-action="Profile"><p>Profil</p></a>
              </li>
    </ul>
  </div>
</nav>
    </header>
    <div class="">
        <main role="">
            @RenderBody()
        </main>
    </div>
</body>
