body {
    background: rgb(68, 69, 115)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(3, 205, 6);
    box-shadow: none;
    border: none
}

    .profile-button:hover {
        background: rgb(3, 140, 6);
    }

    .profile-button:focus {
        background: rgb(3, 140, 6);
        box-shadow: none
    }

    .profile-button:active {
        background: rgb(3, 140, 6);
        box-shadow: none
    }

.back:hover {
    color: rgb(3, 140, 6);
    cursor: pointer
}

.labels {
    font-size: 1rem;
}

.add-experience:hover {
    background: #BA68C8;
    color: rgb(3, 140, 6);
    cursor: pointer;
    border: solid 1px #BA68C8
}
